body{
  background-image: url("images/bg-intro-desktop.png");
  background-color: rgb(255, 128, 128);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {box-sizing: border-box}

/* style the container */
.container {
  margin-top: 5%;
  position: relative;
  border-radius: 5px;
  padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
input,
.btn{
  position: relative;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin-top: 5%;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; 
  background-color: transparent;
  border: 1px solid rgba(126, 120, 120, 0.623);
  
}

input:hover,
.btn:hover {
  opacity: 1;
}


/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}
.color{
  background-color: white;
  padding: 20px;
  margin-top: 10%;
margin-right: 12%;
  border-radius: 10px;
 
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);
  
}
.try{
  background-color: blueviolet;
padding: 1px;
  border-radius: 10px;
  text-align: center;
  margin-right: 13.5%;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);

  
}
.text{
  margin-left: 24%;
  margin-top: 29%;
}

.text > h2{
 font-size: 45px;
 font-weight: bolder;
}


/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
 .container{
   margin: auto;
 }
 .text{
   margin-top: 5%;
   margin-left: 5%;
 }
 .try{
   margin-top: 5%;
 }
 .color{
   margin-bottom: 9%;
 }
}
svg{
  position: absolute;
margin-top:32px;
 float: right;
 margin-left: 30%;
 display: none;
}
small{
  color: red;
  float: right;
  display: none;
}

